* {
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}


/* banner样式 */

.banner {
    background: url(../img/major/digitalmediamajorbanner.png);
    height: 754px;
    position: relative;
}

.banner .bannerintroduction {
    width: 220px;
    background: #c7e6f4;
    position: absolute;
    bottom: 180px;
    right: 50px;
}

.banner .bannerintroduction ul {
    list-style: none;
}

.banner .bannerintroduction ul li {
    line-height: 40px;
    height: 40px;
}

.banner .bannerintroduction ul li:first-child {
    color: #c7883e;
}

.banner .bannerintroduction .introductionborder {
    border-top: 1px solid white;
    width: 90%;
    display: block;
    margin-left: 5%;
}

.banner .bannerintroduction .introductiontxt {
    clear: both;
    float: left;
    margin-left: 12px;
    text-decoration: none;
    color: #287594;
}

.banner .bannerintroduction .introductionright {
    color: #0199d5;
    float: right;
    margin-right: 10px;
}


/* 专业样式 */

.specialty .specialtyimg {
    margin: 60px 0 40px 0;
}

.specialty {
    margin: 0 50px;
}

.specialty .specialtytarget {
    margin: 20px 0;
}

.specialty .specialtytarget .targettitle {
    color: #0199d5;
    font-size: 20px;
    clear: both;
    float: left;
    height: 150px;
    margin-right: 10px;
}

.specialty .specialtytarget .targettxt {
    text-align: justify;
    line-height: 1.8;
    color: #717171;
    font-size: 14px;
}

.specialty .specialtycourse .coursetitle {
    color: #0199d5;
    font-size: 20px;
    clear: both;
    float: left;
    float: left;
    margin-bottom: 30px;
}

.specialty .specialtycourse {
    margin: 10px 0;
}

.specialty .specialtycourse .courselist {
    clear: both;
    display: flex;
    flex-flow: wrap;
}

.specialty .specialtycourse .courselist div {
    width: 88px;
    height: 126px;
    margin: 30px;
    background: url(../img/major/book.png);
}

.specialty .specialtycourse .courselist div p {
    width: 90%;
    display: block;
    text-align: left;
    padding-top: 40%;
    font-weight: 550px;
    font-size: 17px;
    overflow: hidden;
    margin-left: 12.5%;
}

.certificates {
    background: url(../img/major/bg1.png)no-repeat 30px 0;
}

.certificates .certificatestitle {
    color: #0199d5;
    font-size: 20px;
    clear: both;
    float: left;
    float: left;
    margin: 30px 0;
}

.certificates .certificateslist {
    clear: both;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.certificates .certificateslist div {
    width: 400px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificates .certificateslist span {
    margin-left: 10px;
}


/* 学生作品展示 */

.worksshow {
    background: url(../img/major/majordetailsbg.png) no-repeat 0 550px;
}

.worksshow .worksshowtitleimg {
    margin: 100px 0;
}

.worksshow .worksshowlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 200px;
}

.worksshow .worksshowlist div {
    position: relative;
}

.worksshow .worksshowlist .worksshowlistimg {
    margin: 10px 10px;
}

.worksshow .worksshowlist .showlistmask {
    width: 196px;
    height: 196px;
    background: #0199d5;
    display: none;
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 10px;
}

.worksshow .worksshowlist .showlistmask p:first-child {
    font-size: 18px;
    padding-top: 40%;
}

.worksshow .worksshowlist .showlistmask p {
    font-size: 14px;
    text-align: center;
    color: white;
    display: inline-block;
}

.worksshow .worksshowlist .worksshowlistimg {
    cursor: pointer;
}

.worksshow .worksshowlist .worksshowlistimg:hover+.showlistmask,
.showlistmask:hover {
    display: block;
    cursor: pointer;
    /* 解决hover闪动 */
    pointer-events: none
}


/* 教学环境展示 */

.environmentshow {
    margin: 100px 0;
}

.environmentshow .environmenttitleimg {
    margin: 80px 0;
}

.environmentshow .environmentimg {
    display: flex;
    justify-content: space-around;
}